<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
<div class="container">
  <h1>Perfil</h1>
  <hr />
  <p>Nome:</p>
  <br />
  <p>Tel:</p>
  <br />
  <p>Email:</p>
</div>
<%- include ('partials/footer.ejs') %>
